In [1]:
print("Hello python")

Hello python

In [2]:
a=range(1,100)
max(a)

99

In [3]:
min(a)

1

In [4]:
sum(a)

4950

In [2]:
message="My name is Dildar"
a="And i'm AI student. "
print(message,a)

My name is Dildar And i'm AI student.

In [3]:
a="Hi Dildar"
print(a)
b="How are you"
print(b)

Hi Dildar
How are you

In [4]:
bicycle=["Honda","Suzuki",125]
print("My first bicyle was ",bicycle[0])

My first bicyle was  Honda

In [5]:
bicycle=["Honda","Suzuki",125]
print("My first bicyle was ",bicycle[1])

My first bicyle was  Suzuki

In [6]:
bicycle=["Honda","Suzuki",125]
print("My first bicyle was ",bicycle[-1])

My first bicyle was  125

In [16]:
bicycle="Honda","suzuki","tata"
for i in bicycle:
    
    print("I have ",i," motorcycle")

I have  Honda  motorcycle
I have  suzuki  motorcycle
I have  tata  motorcycle

In [19]:
bicycle=["Honda","suzuki","tata"]
lst=bicycle.pop()
print("My last motorcylce was",lst.title())

My last motorcylce was Tata

In [20]:
bicycle=["Honda","suzuki","tata"]
nd=bicycle[1]
print("My last motorcylce was",nd.title())

My last motorcylce was Suzuki

In [21]:
bicycle=["Honda","suzuki","tata"]
too_expensive="tata"
print("A",too_expensive.title(),"motorcycle was too expenxive for me!")

A Tata motorcycle was too expenxive for me!

In [23]:
lst=["Aamir","Bilal","Umair"]
print("you are inviting at my home for dinner",lst.title())

AttributeError: 'list' object has no attribute 'title'

In [24]:
for a in lst:
    print("You are invited at my home for dinner",a.title())

You are invited at my home for dinner Aamir
You are invited at my home for dinner Bilal
You are invited at my home for dinner Umair

In [33]:
a=["Zameer","asif",'Aamir',"bilal",'Barkat',"chat"]
#a.sort()
a

['Zameer', 'asif', 'Aamir', 'bilal', 'Barkat', 'chat']

In [30]:
a.sort()
a

['Aamir', 'Barkat', 'Zameer', 'asif', 'bilal', 'chat']

In [37]:
a.reverse()
a

['Zameer', 'asif', 'Aamir', 'bilal', 'Barkat', 'chat']

In [38]:
len(a)

6

In [51]:
numbers=list(i**2 for i in range(1,8) if i!=5  )
print(numbers)

[1, 4, 9, 16, 36, 49]

In [61]:
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
    
    
        if car == 'sss':
             print(car.upper())
        else:
            print(car.title())

Audi
Bmw
Subaru
Toyota

In [2]:

for a in range(1500 and 2701):
    if a%5==0 or a%7==0:
        print(a,end=" ")

0 5 7 10 14 15 20 21 25 28 30 35 40 42 45 49 50 55 56 60 63 65 70 75 77 80 84 85 90 91 95 98 100 105 110 112 115 119 120 125 126 130 133 135 140 145 147 150 154 155 160 161 165 168 170 175 180 182 185 189 190 195 196 200 203 205 210 215 217 220 224 225 230 231 235 238 240 245 250 252 255 259 260 265 266 270 273 275 280 285 287 290 294 295 300 301 305 308 310 315 320 322 325 329 330 335 336 340 343 345 350 355 357 360 364 365 370 371 375 378 380 385 390 392 395 399 400 405 406 410 413 415 420 425 427 430 434 435 440 441 445 448 450 455 460 462 465 469 470 475 476 480 483 485 490 495 497 500 504 505 510 511 515 518 520 525 530 532 535 539 540 545 546 550 553 555 560 565 567 570 574 575 580 581 585 588 590 595 600 602 605 609 610 615 616 620 623 625 630 635 637 640 644 645 650 651 655 658 660 665 670 672 675 679 680 685 686 690 693 695 700 705 707 710 714 715 720 721 725 728 730 735 740 742 745 749 750 755 756 760 763 765 770 775 777 780 784 785 790 791 795 798 800 805 810 812 815 819 820 825 826 830 833 835 840 845 847 850 854 855 860 861 865 868 870 875 880 882 885 889 890 895 896 900 903 905 910 915 917 920 924 925 930 931 935 938 940 945 950 952 955 959 960 965 966 970 973 975 980 985 987 990 994 995 1000 1001 1005 1008 1010 1015 1020 1022 1025 1029 1030 1035 1036 1040 1043 1045 1050 1055 1057 1060 1064 1065 1070 1071 1075 1078 1080 1085 1090 1092 1095 1099 1100 1105 1106 1110 1113 1115 1120 1125 1127 1130 1134 1135 1140 1141 1145 1148 1150 1155 1160 1162 1165 1169 1170 1175 1176 1180 1183 1185 1190 1195 1197 1200 1204 1205 1210 1211 1215 1218 1220 1225 1230 1232 1235 1239 1240 1245 1246 1250 1253 1255 1260 1265 1267 1270 1274 1275 1280 1281 1285 1288 1290 1295 1300 1302 1305 1309 1310 1315 1316 1320 1323 1325 1330 1335 1337 1340 1344 1345 1350 1351 1355 1358 1360 1365 1370 1372 1375 1379 1380 1385 1386 1390 1393 1395 1400 1405 1407 1410 1414 1415 1420 1421 1425 1428 1430 1435 1440 1442 1445 1449 1450 1455 1456 1460 1463 1465 1470 1475 1477 1480 1484 1485 1490 1491 1495 1498 1500 1505 1510 1512 1515 1519 1520 1525 1526 1530 1533 1535 1540 1545 1547 1550 1554 1555 1560 1561 1565 1568 1570 1575 1580 1582 1585 1589 1590 1595 1596 1600 1603 1605 1610 1615 1617 1620 1624 1625 1630 1631 1635 1638 1640 1645 1650 1652 1655 1659 1660 1665 1666 1670 1673 1675 1680 1685 1687 1690 1694 1695 1700 1701 1705 1708 1710 1715 1720 1722 1725 1729 1730 1735 1736 1740 1743 1745 1750 1755 1757 1760 1764 1765 1770 1771 1775 1778 1780 1785 1790 1792 1795 1799 1800 1805 1806 1810 1813 1815 1820 1825 1827 1830 1834 1835 1840 1841 1845 1848 1850 1855 1860 1862 1865 1869 1870 1875 1876 1880 1883 1885 1890 1895 1897 1900 1904 1905 1910 1911 1915 1918 1920 1925 1930 1932 1935 1939 1940 1945 1946 1950 1953 1955 1960 1965 1967 1970 1974 1975 1980 1981 1985 1988 1990 1995 2000 2002 2005 2009 2010 2015 2016 2020 2023 2025 2030 2035 2037 2040 2044 2045 2050 2051 2055 2058 2060 2065 2070 2072 2075 2079 2080 2085 2086 2090 2093 2095 2100 2105 2107 2110 2114 2115 2120 2121 2125 2128 2130 2135 2140 2142 2145 2149 2150 2155 2156 2160 2163 2165 2170 2175 2177 2180 2184 2185 2190 2191 2195 2198 2200 2205 2210 2212 2215 2219 2220 2225 2226 2230 2233 2235 2240 2245 2247 2250 2254 2255 2260 2261 2265 2268 2270 2275 2280 2282 2285 2289 2290 2295 2296 2300 2303 2305 2310 2315 2317 2320 2324 2325 2330 2331 2335 2338 2340 2345 2350 2352 2355 2359 2360 2365 2366 2370 2373 2375 2380 2385 2387 2390 2394 2395 2400 2401 2405 2408 2410 2415 2420 2422 2425 2429 2430 2435 2436 2440 2443 2445 2450 2455 2457 2460 2464 2465 2470 2471 2475 2478 2480 2485 2490 2492 2495 2499 2500 2505 2506 2510 2513 2515 2520 2525 2527 2530 2534 2535 2540 2541 2545 2548 2550 2555 2560 2562 2565 2569 2570 2575 2576 2580 2583 2585 2590 2595 2597 2600 2604 2605 2610 2611 2615 2618 2620 2625 2630 2632 2635 2639 2640 2645 2646 2650 2653 2655 2660 2665 2667 2670 2674 2675 2680 2681 2685 2688 2690 2695 2700

In [6]:
f=int(input("Enter a temprature in ferenhiet: "))
c=int(float(5*(f-32)/9))
print(c)

Enter a temprature in ferenhiet: 45
7

In [23]:
n=5
for i in  range(n):
    for j in range(i):
        print("*",end="")
    print("")    
    
for i in range(5,0,-1):
    for j in range(i):
        print("*",end="")
    print("")

*
**
***
****
*****
****
***
**
*

In [30]:
even=[]
odd=[]
n=[1,2,3,4,5,6,7,8,9]
for a in n:
    
        if a%2==0:
            
            even.append(a)
    
            
        else:
            odd.append(a)
            
print(len(even))
                
print(len(odd))

4
5

In [33]:
for a in range(0,6):
    if a==3:
        continue
    else:
        print(a,end=" ")

0 1 2 4 5

In [40]:
for a in range(1,50):
    if a%3==0 and a%5==0:
        print("fizzbuzz")
        continue
    elif a%3==0:
        print("fizz")
        continue
    elif a%5==0:
        print("buzz")
        continue
   
    print(a)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49

In [43]:
rows=int(input("enter number of rows"))
cols=int(input("enter numb

enter number of rows3
enter number of columns4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [46]:
a=input("Enter any string: ")
l=d=0
for i in a:
    if i.isdigit():
        d=d+1
    elif i.isalpha():
        l=l+1
    else:
        pass
    
print("Digits:",d)
print("Latters:",l)

Enter any string: Dildar1860
Digits: 4
Latters: 6

In [24]:
a=[9,2,3,4]
b=[2,4,6,8]
for i in a:
    
    #for j in b:        
        j=  a.index(i)+b.index(i)
        print(list(j))

ValueError: 9 is not in list

In [26]:
a=input("Enter an string: ")
l=d=0
for i in a:
    if i.isalpha():
        
        l=l+1
    elif i.isdigit():
        d=d+1
        
print("Letter:",l)        
print("Digit:",d)

Enter an string: asdfghjklzxcvbnmqwertyuiop1234567890
Letter: 26
Digit: 10

In [44]:
n=5
for i in range(n):
    for j in range(i):
        print("*",end="")
    print("")
 

 
for i in range(n,0,-1):
        for j in range(i):
            print("*",end="")
        print("")

*
**
***
****
*****
****
***
**
*

In [84]:
h =5
for x in range(h):
    if h - x:
        print("*",end="")
        print((2*x+1))    
    #print(" " * (h - x), "*" * (2*x + 1))
for x in range(h - 2, -1, -1):
    print(" " * (h - x), "*" * (2*x + 1))

*1
*3
*5
*7
*9
   *******
    *****
     ***
      *

In [60]:
a=["Ali","Baloch","Khan","Asd","AB"]
for i in a:
    if len(i)<=4:
        print(i," ",end="")

Ali  Khan  Asd  AB

In [70]:
n = 4
for i in range(n):
    print(' '*(n-i-1) + '* '*(i+1) )
for i in range(n):
    print(' '*(i+1) + '* '*(n-i-1))

   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [71]:
n = 5
for i in range(n):
    print(i)
   # print(' '*(n-i-1) + '* '*(i+2) )

for i in range(n):
    print(' '*(i+1) + '* '*(n-i-1))

0
1
2
3
4
 * * * *
  * * *
   * *
    *

In [94]:
n=int(input("Plz enter hieght of Diamond: "))
for i in range(n):
    print(" "*(n-i)+"* "*(i+1))
    
for j in range(n-1):
    print(" "*(j+2)+"* "*(n-1-j))

Plz enter hieght of Diamond: 5
     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [95]:
n=int(input("Plz enter hieght of Triangle: "))
for i in range(n):
    print(" "*(n-i)+"* "*(i+1))

Plz enter hieght of Triangle: 5
     *
    * *
   * * *
  * * * *
 * * * * *

In [100]:
n=int(input("Plz enter hieght of Square: "))
for i in range(n):
    print("* "*(n))

Plz enter hieght of Square: 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [147]:
n=int(input("Plz enter hieght of Diamond: "))
for i in range(n):
    print(" "*(n-i)+" *"*(i+3))
    
for j in range(n-j):
    print(" "*(j+1)+" *"*(n-j+2))

Plz enter hieght of Diamond: 5
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *

In [170]:
n=int(input("Plz enter hieght of Diamond: "))
for i in range(n):
    print(" "*(n-i)+" *"*(i+2))
    
for j in range(n):
    print(" "*(j+1)+" *"*(n-j+1))

Plz enter hieght of Diamond: 5
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *

In [187]:
a= "Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams"
for i in a.upper():
    if i not in "a,e,i,o,u,'' ":
        print(i,end=' ')

Y E L L O W Y A K S L I K E Y E L L I N G A N D Y A W N I N G A N D Y E S T U R D A Y T H E Y Y O D L E D W H I L E E A T I N G Y U K Y Y A M S

In [196]:
a="1903  dgsjfsjf 4546467  455464 njhhgg  "
b=a.split()
for i in b:
    if not  i.isalpha():
                  print(i)

1903
4546467
455464

In [199]:
a=[2,1,3,4,5,6,7,8,9]
b=[2,4,6,8,9]
result=[(i,j) for i in a for j in b if i==j]
print(result)

[(2, 2), (4, 4), (6, 6), (8, 8), (9, 9)]

In [200]:
a=range(1,21)
for i in a:
    if i%2==0:
        print("Even")
    else:
        print("Odd")

Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even

In [214]:
a=range(1,21)
b=["even"  if i%2==0   else "Odd" for i in a]# for i in a if i%2!=0 ]  # else:     #   print("Odd")]
print(b)

['Odd', 'even', 'Odd', 'even', 'Odd', 'even', 'Odd', 'even', 'Odd', 'even', 'Odd', 'even', 'Odd', 'even', 'Odd', 'even', 'Odd', 'even', 'Odd', 'even']

In [216]:
a=range(1,1001)
b=len(a)
print(b)

1000

In [218]:
a=[[1,2,3],[2,3,4],[3,4,5]]
for i in a:
    print(i)

[1, 2, 3]
[2, 3, 4]
[3, 4, 5]

In [221]:
a=[[1,2,3],[4,5,6],[7,8,9]]
for i in a:
    for j in i:
        
        print(j,end=" ")

1 2 3 4 5 6 7 8 9

In [232]:
n=5
for i in range(n):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [237]:
a="Python logic for kids"
for i in a:
    if i in "a,e,i,o,u,'' ":
        continue
    print(i,end=' ')

P y t h n l g c f r k d s

In [243]:
n=5
for i in range(n):
    for j in range(i):
        print("*",end=" ")
    print(' ') 
    
for i in range(n,0,-1):
    for j in range(i):
        print("*",end=" ")
    print(' ')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [247]:
n=5
for i in range(n):
    print(" "*(n-i)+"* "*(i+1))
    
for j in range(n-1):
    print(" "*(j+2)+"* "*(n-j-1))

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [248]:
n=5
for i in range(n):
    print(" "*(n-i)+"* "*(i+1))

     *
    * *
   * * *
  * * * *
 * * * * *

In [249]:
n=5
for i in range(n):
    print("* "*(n))

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [251]:
n=5
for i in range(n):
    for j in range(i):
        print("*",end='')
    print()

*
**
***
****

In [253]:
n=5
for i in range(n):
    for j in range(i):
        print("*"*(i),end='')
    print()

*
****
*********
****************

In [257]:
a="DILDAR"
for i in range(3):   #Rows
    for i in range(2):  #Columns
        print(a,end=" ")
    print("")

DILDAR DILDAR
DILDAR DILDAR
DILDAR DILDAR

In [4]:
dict={
    "Names":["Dildar","Ali","Asad"],
    "Scores":[90,80,70]
}
dict

{'Names': ['Dildar', 'Ali', 'Asad'], 'Scores': [90, 80, 70]}

In [8]:
dict["Names"][0],dict["Scores"][0]

('Dildar', 90)

In [9]:
lst=[
    {
        "Names":["Dildar","Ali","Asad"],
        "Scores":[90,80,70]
    }
]

In [11]:
lst[0]["Names"][1],

'Ali'

In [17]:
dict1={1:10,2:20}
dict2={3:30,4:40}
dict3={5:50,6:60}
dict4={}
for d in dict1,dict2,dict3:
    dict4.update(d)

#dict4=dict{dict1,dict2,dict3}
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [18]:
a= {0: 10, 1: 20}
a

{0: 10, 1: 20}

In [19]:
a[2]=30
a

{0: 10, 1: 20, 2: 30}

In [22]:
d = {'x': 10, 'y': 20, 'z': 30} 
for key,value in d.items():
    print(key,"->",value)

x -> 10
y -> 20
z -> 30

In [25]:
n=int(input("Plz enter any number: "))
d={ }
for i in range(1,n+1):
    d[i]=i*i
print(d)

Plz enter any number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}