In [1]:
for i in range(1,10):
    print("Dildar")

Dildar
Dildar
Dildar
Dildar
Dildar
Dildar
Dildar
Dildar
Dildar

In [2]:
for i in range(1,10):
    print("Dildar",end=" ")

Dildar Dildar Dildar Dildar Dildar Dildar Dildar Dildar Dildar

In [5]:
even=[]
odd=[]
for a in range(1,50):
    if  a%5!=0:
        if a%2==0: 
        
            even.append(a)
        
        else:
                  odd.append(a)
        
print(even)
print(odd)

[2, 4, 6, 8, 12, 14, 16, 18, 22, 24, 26, 28, 32, 34, 36, 38, 42, 44, 46, 48]
[1, 3, 7, 9, 11, 13, 17, 19, 21, 23, 27, 29, 31, 33, 37, 39, 41, 43, 47, 49]

In [6]:
c=int(input("Enter temprature in celcius: "))
f= (c * 9/5) + 32 
print(f)

Enter temprature in celcius: 0
32.0

In [7]:
name=[]
for a in range(1,5):
    
    a=input("Enter guest name: ")
    if a=="Ali":
         continue
    else:
        name.append(a)
        
print(name)

Enter guest name: Dildar
Enter guest name: Ali
Enter guest name: Umair
Enter guest name: asif
['Dildar', 'Umair', 'asif']

In [8]:
name=[]
for a in range(1,5):
    
    a=input("Enter guest name: ")
    if a=="Ali" or a in name==True:
         continue
    else:
        name.append(a)
        
print(name)

Enter guest name: Ali
Enter guest name: Dildaaaaar
Enter guest name: Ali
Enter guest name: amir
['Dildaaaaar', 'amir']

In [9]:
name=[]
for a in range(1,5):
    
    a=input("Enter guest name: ")
    if a=="Ali" or a in name==True or (len(a)==0):
         continue
    else:
        name.append(a)
        
print(name)

Enter guest name:
Enter guest name: Ali
Enter guest name: Dildar
Enter guest name: Ali
['Dildar']

In [12]:
a=["Aamir","Bilal","Dildar"]
for name in a:
    print(f"Welcome {name}")

Welcome Aamir
Welcome Bilal
Welcome Dildar

In [13]:
a=["Aamir","Bilal","Dildar"]
for name in a:
    print("Welcome ",name.title())

Welcome  Aamir
Welcome  Bilal
Welcome  Dildar

In [20]:
number=[1,3,5,7,9,11,13,15,17,19]
sum=0
for a in number:
    sum=a+sum

print(sum)

100

In [16]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 48

In [22]:
# program to display student's marks from record
student_name = 'Jules'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

55

In [35]:
name=input(" Enter your name: ")
marks={"Dildar":90 , "Aamir":89, "Bilal":87}
for a in marks:
    if a==name:
        print(marks[a])
        break
        
else:
        print("NAME NOT FOUND!")

 Enter your name: aad
NAME NOT FOUND!

In [38]:
print(list(range(1,20,3)))

[1, 4, 7, 10, 13, 16, 19]

In [39]:
listt=[1,1,1,1,1,1,1]
listt

[1, 1, 1, 1, 1, 1, 1]

In [40]:
max(listt)

1

In [41]:
min(listt)

1

In [45]:
sum(listt)

TypeError: 'int' object is not callable

In [52]:
for a in range(1,5):
    print(a,end=(' '))

1 2 3 4

In [48]:
19101%10

1

In [49]:
786%10

6

In [1]:
a=list(range(1,11))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
a=[value*3 for value in range(1,11)]
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [3]:
a=[value**3 for value in range(1,11)]
print(a)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [11]:
num = [i for i in range(10) if i%2!=0 if i!=5]
print(num)

[1, 3, 7, 9]

In [13]:
num = [i for i in range(10) if i==8  continue]
print(num)

SyntaxError: invalid syntax (3239717738.py, line 1)

In [15]:
num = [i for i in range(30) if i>=2 if i<=25 if i%4==0 if i%8==0]
print(num)

[8, 16, 24]

In [18]:
a=["Even" if a%2==0 else "Odd" for a in range(1,11) ]
print(a)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [25]:
a=[i for i in range(1,11) if i%2==0  ]
print(a)

[2, 4, 6, 8, 10]

In [29]:
a=[i for i in range(1,1001) if i%8==0 ]
print(a)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992, 1000]

In [28]:
numbers = []
for i in range(1,1001):
    numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96, 106, 116, 126, 136, 146, 156, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 176, 186, 196, 206, 216, 226, 236, 246, 256, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 276, 286, 296, 306, 316, 326, 336, 346, 356, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 376, 386, 396, 406, 416, 426, 436, 446, 456, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 476, 486, 496, 506, 516, 526, 536, 546, 556, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 576, 586, 596, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 706, 716, 726, 736, 746, 756, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 776, 786, 796, 806, 816, 826, 836, 846, 856, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 876, 886, 896, 906, 916, 926, 936, 946, 956, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 976, 986, 996]

In [53]:
a=len([i for i in range(1,1001) if "" in str(i)])
print(a)

1000

In [48]:
a=len[i for i in range(1,1001) if i=="" ]
print(a)

SyntaxError: invalid syntax (1035991961.py, line 1)

In [70]:
a=[1,2,3.4,9.0,.5,6,7,8.8810,10.123,11,11.23]
b=[n for n in a if type(n)==float]
print(b)

[3.4, 9.0, 0.5, 8.881, 10.123, 11.23]

In [74]:
sentence = "Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams"

result = [letter for letter in sentence if letter not in 'a,e,i,o,u, " "']
print(result)

['Y', 'l', 'l', 'w', 'Y', 'k', 's', 'l', 'k', 'y', 'l', 'l', 'n', 'g', 'n', 'd', 'y', 'w', 'n', 'n', 'g', 'n', 'd', 'y', 's', 't', 'r', 'd', 'y', 't', 'h', 'y', 'y', 'd', 'l', 'd', 'w', 'h', 'l', 't', 'n', 'g', 'y', 'k', 'y', 'y', 'm', 's']

In [76]:
a=["0"if i%2==0 else i for i in range(1,11)]
print(a)

[1, '0', 3, '0', 5, '0', 7, '0', 9, '0']

In [2]:
name=["Dildar","Aamir","Bilal"]
sirname=["Ali","Baloch","arisar"]
for a in name:
    for b in sirname:
        print(f"{a} {b}")

Dildar Ali
Dildar Baloch
Dildar arisar
Aamir Ali
Aamir Baloch
Aamir arisar
Bilal Ali
Bilal Baloch
Bilal arisar

In [6]:
n="DILDAR"
n

'DILDAR'

In [7]:
n[::-1]

'RADLID'

In [8]:
n[::1]

'DILDAR'

In [10]:
n[-1:-8:-1]

'RADLID'

In [13]:
a=["Aamir","Bilal","Dildar"]
b=["Baloch","ALi","Khan"]
for name in a:
    print(name + b[a.index(name)])

AamirBaloch
BilalALi
DildarKhan

In [14]:
a=["Aamir","Bilal","Dildar"]
b=["Baloch","ALi","Khan"]
for i in a:
    print(f"{i} {b[a.index(i)]}")

Aamir Baloch
Bilal ALi
Dildar Khan

In [16]:
f=["Apple","Banana","Mango","Grapes"]
veg=["Bhindi",'AAloo',"Lokki","Kaddoo"]
for i in f:
    for h in veg:
        print(f"{i} {h}")

Apple Bhindi
Apple AAloo
Apple Lokki
Apple Kaddoo
Banana Bhindi
Banana AAloo
Banana Lokki
Banana Kaddoo
Mango Bhindi
Mango AAloo
Mango Lokki
Mango Kaddoo
Grapes Bhindi
Grapes AAloo
Grapes Lokki
Grapes Kaddoo

In [17]:
f=["Apple","Banana","Mango","Grapes"]
veg=["Bhindi",'AAloo',"Lokki","Kaddoo"]
for i in f:
    print(i+veg[f.index(i)])

AppleBhindi
BananaAAloo
MangoLokki
GrapesKaddoo

In [19]:
f=["Apple","Banana","Mango","Grapes"]
veg=["Bhindi",'AAloo',"Lokki","Kaddoo"]
for i in f:
    print(f"{i} {veg[f.index(i)]}")

Apple Bhindi
Banana AAloo
Mango Lokki
Grapes Kaddoo

In [20]:
a={"Name":"dildar","ID":"27142","Course":"AI"}
a

{'Name': 'dildar', 'ID': '27142', 'Course': 'AI'}

In [21]:
a["City"]="Karachi"
a

{'Name': 'dildar', 'ID': '27142', 'Course': 'AI', 'City': 'Karachi'}

In [22]:
a["City"]="Dadu"
a

{'Name': 'dildar', 'ID': '27142', 'Course': 'AI', 'City': 'Dadu'}

In [23]:
del a["City"]
a

{'Name': 'dildar', 'ID': '27142', 'Course': 'AI'}

In [24]:
a["Name"]="Dildar Ali"
a

{'Name': 'Dildar Ali', 'ID': '27142', 'Course': 'AI'}

In [25]:
b={"score":123,"Babar":89,"Rizwan":78}
b

{'score': 123, 'Babar': 89, 'Rizwan': 78}

In [27]:
for i in b.keys():
    print(i)

score
Babar
Rizwan

In [28]:
for i in b.values():
    print(i)

123
89
78

In [29]:
for i in b.items():
    print(i)

('score', 123)
('Babar', 89)
('Rizwan', 78)

In [34]:
for key in b.keys():
    print(b[key])

123
89
78

KeyError: 123

In [40]:
favorite_languages = {
 'Dildar': 'python',
 'Aamir': 'c',
 'bilal': 'ruby',
 'umair': 'python',
 }
for name, language in favorite_languages.items():
         print(name.title() + "'s favorite language is " + language.title() + ".")

Dildar's favorite language is Python.
Aamir's favorite language is C.
Bilal's favorite language is Ruby.
Umair's favorite language is Python.

In [39]:
fav_fruits={
    "Dildar":"Apple",
    "Aamir":"Mango",
    "Bilal":"Banana"
}
for a,b in fav_fruits.items():
    print(a.title(),"'s favourite fruit is ",b.title())

Dildar 's favourite fruit is  Apple
Aamir 's favourite fruit is  Mango
Bilal 's favourite fruit is  Banana

In [43]:
fav_numbers={
    "Dildar":1860,
    "Aamir":786,
    "Bilal":123
}
for a,b in fav_numbers.items():
    print(a,"'s favourite number is ",b)

Dildar 's favourite number is  1860
Aamir 's favourite number is  786
Bilal 's favourite number is  123

In [2]:
a=["Aamir","Dildar","Bilal"]
b=["Khushk","Baloch","Arisar"]
for name in a:
    for sirname in b:
        print(name,sirname)

Aamir Khushk
Aamir Baloch
Aamir Arisar
Dildar Khushk
Dildar Baloch
Dildar Arisar
Bilal Khushk
Bilal Baloch
Bilal Arisar

In [3]:
a=["Aamir","Dildar","Bilal"]
b=["Khushk","Baloch","Arisar"]
for i in a:
    print(i+b[a.index(i)])

AamirKhushk
DildarBaloch
BilalArisar

In [5]:
a=["Aamir","Dildar","Bilal"]
b=["Khushk","Baloch","Arisar"]
for i in a:
    print(f"{i} {b[a.index(i)]}")

Aamir Khushk
Dildar Baloch
Bilal Arisar

In [6]:
a={"Name":"Dildar","ID":27142,"Dept":"AI & DS"}
a

{'Name': 'Dildar', 'ID': 27142, 'Dept': 'AI & DS'}

In [7]:
a="PYTHON"

In [8]:
a

'PYTHON'

In [13]:
for i in a[::-2]:
    print( i)

N
H
Y